* {
    padding: 0;
    margin: 0;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.presentation{
    display: flex; 
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation h1{
    font-size: 3.5rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7e928b;
}

.button{
    width: 10rem;
    height: 3rem;
    border-radius: 5px; 
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    margin: 1rem;
}

.button:hover {
    background-color: #0056b3; 
    transform: scale(1.1); 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); 
}

.content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    height: 100vh;
    background: #584040;
    display: flex;
    align-items: center;
}

.contenedor {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    
    position: relative;

    background: linear-gradient(#b7d6c7, transparent) #ffe2d1;/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(img/dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.game-over {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: red;
    text-align: center;
  }

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(img/cactus1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;

    background: url(img/cactus2.png) no-repeat;
}

.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(img/nube.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}
